#main>div.sidebar.sticky>nav {
    border-top: 4px solid #6f777d
}

.img-20 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}

.img-30 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}

.img-40 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
}

.img-50 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

.img-30 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
}

.img-60 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
}

.img-70 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
}

.img-80 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
}